html {
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
	padding: 0 3em;
}
h2 {
	font-size: 1.125;
}
h3 {
	font-size: 0.875em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
    padding: 0 1.875em;
}

/*The widths are in a percentage!*/
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	text-align: center;
	align-items: center;
	margin: 0 auto;
}

header h1 {
	width: 100%;
	margin: 0;
	padding: 0.5em 0;
	border-bottom: 3px #77a466 solid;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 1em 0;
	display: flex;
	justify-content: content;
}
header nav ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0 0.625em;
	margin: 1em;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 0.3125em 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

.section-one,
.section-two,
.section-three {
	height: auto;
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 0.625em 0;
}

.section-two h3,
.section-three h3 {
	padding: 0.625em 0.625em;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 0.625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

@media all and (min-width:768px) {
	/* Tablet styles here */
	.bottom-section {
		flex-direction: row;
	}

	.section-one, .section-two, .section-three {
		width: 33%;
	}

	.section-one, .section-two {
		border-right: 1px solid #eee;
	}

	.section-two p, .section-two h3 {
		padding-left: 2em;
	}

	.section-three h3, .section-three p {
		padding-left: 2em;
	}

}

@media all and (min-width:1200px) {
	/* Desktop styles here */
}